body{
    max-width: 1440px;
    
    background-color: hsl(185, 75%, 39%);
    background-image: 
        url(../images/bg-pattern-top.svg), 
        url(../images/bg-pattern-bottom.svg);
    background-position: -93% 185%, 183% -100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
img{
    max-width: 100%;
    border-radius: 50%;
    border: solid 5px white;
    position: absolute;
    top: 36%;
    left: 46%;
}
.attribution { 
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: end;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
}

.container{
    height: 100vh;
    font-family: 'Kumbh Sans';
    font-size: 0.8rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
img,
.data,
.stats{
    background-color: white;
    font-weight: 400;
}
.card{
    max-width: 320px;
    min-width: 240px;
    height: 350px;
    text-align: center;
    display: grid;
    grid-template-rows: 40% 40% 1fr;
}
.header{
    background-image: url(../images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.data div{
    margin-top: 40px;
    margin-bottom: 10px;
}
.data span,
.stats span{
    font-size: 18px;
    font-weight: 700;
}
.stats{
    border-top: .5px solid #eee;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}
.stats div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats div span{
    margin-bottom: 5px;
}

@media only screen and (max-width:375px) {
    body{
        background-position: -30% -110%, 930% 560%;
        background-size: 70% 70%,95% 90%; 
    }
    img{
        top: 36%;
        left: 36%;
    }
}